# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

test_gemini.py
test_complete.py